form {
    display: flex;
    flex-direction: column;
  }
  

  .labels {
    width: 150px;
    margin: 0.5rem 30rem;
  }

  .labels label {
    margin-bottom: 2rem;
  }
  
  input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  p {
    font-size: 0.875rem;
  }
  
  button {
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit {
    margin-top: 5rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  